.container{
width: 1165px;
margin: 0 auto;
padding-top: 21px;
border: 1px solid black;
background: #F5F5F5;
}
h6{
font-weight: 700;
font-size: 11px;
display: inline-block;
margin-right: 35px;
color: #000000;
}
.container1{
    background: #F5F5F5;
    width: 1166px;
    margin: 0 auto;
    padding-top: 42px;
    border: 1px solid black;
    }
 .erti{
width: 362px;
height: 186px;
margin-top: 27px;
vertical-align: top;
    }
    .erti1{
    margin-left:35px;
    width: 362px;
height: 186px;
margin-top: 27px;
display: inline-block;
}
.meramdene{
width: 362px;
height: 186px;
display: inline-block;
margin-left:35px;
}


.container2{
    background: #F5F5F5;
    width: 1166px;
    margin: 0 auto;
    margin-top: 51px;
}
.racari{
border: 1px solid black;
 width: 362px;
height: 171px;
background: #FFFFFF;
display: inline-block;
}
h5{
 margin-top: 65px;
margin-left: 40px;
font-size: 10px;
color: #8A8787;
display: inline-block;
}
.arafrri{
margin-top:11px;
margin-left:40px; 
display: inline-block;
}
.inm{
    margin-left: 11px;
}